[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
py-win-keyboard-layout = "*"
pyperclip = "*"
wxpython = "*"
pynput = "*"

[dev-packages]

[requires]
python_version = "3.8"
